
body {
  display: flex;
  justify-content: center;   
  align-items: center;      
  min-height: 100vh;         
  margin: 0;
  font-family: Arial, sans-serif;
  background: #a5a5a5;
  flex-direction: column;   
} 

.contenedor {
  background-color: white; 
    padding: 30px;
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(18, 18, 18, 0.505); 
  text-align: center;
  width: 350px;
}


button:hover {
  background-color: #007bff;
  transform: scale(1.1);
  transition: 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

#salida::first-letter {
  color: rgb(20, 123, 220);
  font-size: 25px;
}

form > input {
  background-color: #f0e0e0;
}


@keyframes mover {
  0% { transform: translateY(0); background-color: orange; }
  50% { transform: translateY(50px); background-color: gold; }
  100% { transform: translateY(0); background-color: orange; }
}

.caja {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-top: 40px;
  animation: mover 3s infinite;
}
