body {
    display: flex;
    justify-content: center;   
    align-items: center;      
    min-height: 100vh;         
    margin: 0;
    font-family: Arial, sans-serif;
    background: #a5a5a5;
    flex-direction: column;   
} 

.contenedor {
    background-color: white; /* El cuadro blanco */
    padding: 30px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* Sombra */
    text-align: center;
    width: 350px; /* Ancho fijo */
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
}  

input[type="text"] {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#salida {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}